<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ActivePublishing_Flipbook::Flipbook" title="Flipbook" module="ActivePublishing_Flipbook" sortOrder="51" resource="ActivePublishing_Flipbook::Flipbook"/>
        <add id="ActivePublishing_Flipbook::manage" title="Manage Flipbook" module="ActivePublishing_Flipbook" sortOrder="10" action="ActivePublishing_Flipbook/manage" resource="ActivePublishing_Flipbook::manage" parent="ActivePublishing_Flipbook::Flipbook"/>
        <add id="ActivePublishing_Flipbook::Create" title="Create Flipbook" module="ActivePublishing_Flipbook" sortOrder="10" action="ActivePublishing_Flipbook/create" resource="ActivePublishing_Flipbook::create" parent="ActivePublishing_Flipbook::Flipbook"/>
        <add id="ActivePublishing_Flipbook::config" title="Configuration" module="ActivePublishing_Flipbook" sortOrder="99" parent="ActivePublishing_Flipbook::Flipbook" action="ActivePublishing_Flipbook/config" resource="ActivePublishing_Flipbook::config"/>
    </menu>
</config>