<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="ActivePublishing_Flipbook::Flipbook" 
      title="Flipbook" 
      module="ActivePublishing_Flipbook" 
      sortOrder="51" 
      dependsOnModule="ActivePublishing_Flipbook" 
      resource="ActivePublishing_Flipbook::Flipbook"/>

      <add id="ActivePublishing_Flipbook::manage_flipbook" 
      title="Manage Flipbook"
       module="ActivePublishing_Flipbook" 
       parent="ActivePublishing_Flipbook::Flipbook" 
       dependsOnModule="ActivePublishing_Flipbook" 
       action="flipbook/manage" 
       resource="ActivePublishing_Flipbook::manage_flipbook"
       />

      <add id="ActivePublishing_Flipbook::create_flipbook" 
      title="Create Flipbook"
       module="ActivePublishing_Flipbook" 
       parent="ActivePublishing_Flipbook::Flipbook" 
       dependsOnModule="ActivePublishing_Flipbook" 
       action="flipbook/create" 
       resource="ActivePublishing_Flipbook::create_flipbook"/>

      <add id="ActivePublishing_Flipbook::config_flipbook" 
      title="Configuration"
       module="ActivePublishing_Flipbook" 
       parent="ActivePublishing_Flipbook::Flipbook" 
       dependsOnModule="ActivePublishing_Flipbook" 
       action="flipbook/config" 
       resource="ActivePublishing_Flipbook::config_flipbook"/>
    </menu>
</config>
